<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 
    <style>
table td{
vertical-align:top;
border:solid 1px #888;
padding:10px;
}

    </style>
 -->
</head>
<body>
<h1>Счупихте интерфейса! Няма страшно, просто се върнете назад.</h1>
<img src="https://image.shutterstock.com/image-photo/sorry-phrase-handwritten-on-blackboard-260nw-370387814.jpg" alt="Sorry" height="300" width="400">
<small>*Простете, че няма валидация</small>
<!-- 
	<table>
	    <tr>
	        <td>Date</td>
	        <td th:text="${timestamp}"/>
	    </tr>
	    <tr>
	        <td>Path</td>
	        <td th:text="${path}"/>
	    </tr>
	    <tr>
	        <td>Error</td>
	        <td th:text="${error}"/>
	    </tr>
	    <tr>
	        <td>Status</td>
	        <td th:text="${status}"/>
	    </tr>
	    <tr>
	        <td>Message</td>
	        <td th:text="${message}"/>
	    </tr>
	    <tr>
	        <td>Exception</td>
	        <td th:text="${exception}"/>
	    </tr>
	    <tr>
	        <td>Trace</td>
	        <td>
	            <pre th:text="${trace}"/>
	        </td>
	    </tr>
	</table>
 -->
</body>
</html>